.container
{
    display: grid;
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: repeat(4,1fr);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0.7em;
    gap: 1em;
    font-size: 2em;
}
.box
{
    border: 2px solid blue;
    border-radius: 15px;
    padding: 2em;
}
.second
{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.logo
{
    flex-grow: 1;
    justify-content: flex-start;
}
.box1
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box3
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box4
{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
@media(max-width:600px)
{
    .container
    {
        background: green;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,110px);
    }
    p
    {
        display: none;
    }
    .second
    {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }

}