/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
    background: blue;
    border: 2px solid black;
    gap: 0.2em;
    padding: 0.2em;
    text-align: center;
}
.item
{
    border: 2px solid black;
    background: lightcyan;
    padding: 2em;
}
.second
{
    grid-row-start: 2;
    grid-row-end: 4;
    background: red;
}
@media (min-width:600px)
{
    .container
    {
        background: green;
        grid-template-columns: repeat(auto-fit,1fr);
    }
    .second
    {
        grid-row: unset;
        background: lightcyan;
    }
}